@font-face {
  font-family: 'Slapstick';
  src: url('../Fonts/sf_slapstick_comic_shaded-webfont.woff');
  src: url('../Fonts/sf_slapstick_comic_shaded-webfont.ttf');
}

@font-face {  
  font-family: 'Agentorange';
  src: url('../Fonts/agentorange-webfont.woff');
  src: url('../Fonts/agentorange-webfont.ttf');
}

html, body, .container {
	background-image: url("../Images/wood.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

.container h1 {
	text-align: center;
	font-family: 'Slapstick';
	font-size: 80px;
	margin: 0;
	padding: 0;
}

.col-md-12 {
	text-align: center;
}

p  {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.winner {
	color: red;
	font-size: 40px;
	margin: 15px;
	font-family: 'Agentorange';
}

.col-md-1 {
	margin: auto;
    display: table;
    table-layout: fixed;
}

#drag1 {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

#drag2 {
	display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.grid {
	text-align: center;
	width: 100px;
	height: 110px;
	padding: 10px;
	float:left;
}

.col-md-4 #playGrid {
	margin-left: auto;
	margin-right: auto;
	border-collapse:collapse;
	background-color: white;
}

#playGrid td {
	border:2px solid black;
}

.imageTable  td{
	text-align: center;
	width: 100px;
	height: 120px;
	padding-top: 10px;
	float:left;
}

.dragX {
	width:75px;
	height:75px;
}

.dragO {
	width:75px;
	height:75px;
}

.button {
	text-align: center;
	font-size: 26px;
}

.footer {
  position: relative;
  margin-top: 20px; 
  height: 150px;
  clear:both;
  padding-top:20px;
  border-top: 1px solid #EEEEEE;
}

.col-md-6 {
	text-align: center;
}

.col-md-6 p {
	font-size: 18px;
}